
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="well well-sm">
        <form class="form-horizontal" method="post">
          <fieldset>
            <legend class="text-center header">Consultorio y Convenios</legend>

            <div>
              <label class="form-label" >Asesor asignado(Docente)</label>
              <table class="table">
                <thead>
                <tr>
                  <th scope="col">N°</th>
                  <th scope="col">ID</th>

                  <th scope="col">DOCENTE</th>

                </tr>
                </thead>
                <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>01</td>

                  <td>docente@unicesar.edu.co</td>

                </tr>
                </tbody>
              </table>
            </div><br>

            <div>
              <label class="form-label" >Solicitud de convenio</label>
              <table class="table">
                <thead>
                <tr>
                  <th scope="col">N°</th>
                  <th scope="col">ID</th>
                  <th scope="col">Nombre</th>

                  <th scope="col">Estado</th>

                </tr>
                </thead>
                <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>01</td>
                  <td>Fiscalia</td>
                  <td>PENDIENTE</td>

                </tr>
                </tbody>
              </table>
            </div><hr><br><br>


          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>



