
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="well well-sm">
        <form class="form-horizontal" method="post">
          <fieldset>
            <legend class="text-center header">Registro de Agenda</legend>

            <div class="form-group">
              <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user bigicon"></i></span>
              <div class="col-md-8">
                <label class="form-label" >Ingrese numero de documento de usuario</label>
                <input id="numeroDocumentoUsuario" name="number" type="text" placeholder="Numero de documento" class="form-control">
                <button type="button" class="btn btn-default" aria-label="Left Align">
                  <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                </button>
              </div>
            </div>

            <div>
              <table class="table">
                <thead>
                <tr>
                  <th scope="col">N°</th>
                  <th scope="col">Cedula</th>
                  <th scope="col">Nombre</th>
                  <th scope="col">Correo</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>1065844288</td>
                  <td>Anderson Orozco</td>
                  <td>aorozcom@unicesar.edu.co</td>
                </tr>
                </tbody>
              </table>
            </div>

            <div class="form-group">
              <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user bigicon"></i></span>
              <div class="col-md-8">
                <label class="form-label" >Ingrese numero de documento del docente</label>
                <input id="numeroDocumentoDocente" name="number" type="text" placeholder="Numero de documento" class="form-control">
                <button type="button" class="btn btn-default" aria-label="Left Align">
                  <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                </button>
              </div>
            </div>

            <div>
              <table class="table">
                <thead>
                <tr>
                  <th scope="col">N°</th>
                  <th scope="col">Cedula</th>
                  <th scope="col">Nombre</th>
                  <th scope="col">Correo</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>102</td>
                  <td>Anya miyeth</td>
                  <td>docente@unicesar.edu.co</td>
                </tr>
                </tbody>
              </table>
            </div>

            <div class="form-group">
              <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user bigicon"></i></span>
              <div class="col-md-8">
                <label class="form-label" >Ingrese numero de documento del estudiante</label>
                <input id="numeroDocumentoEstudiante" name="number" type="text" placeholder="Numero de documento del estudiante" class="form-control">
                <button type="button" class="btn btn-default" aria-label="Left Align">
                  <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                </button>
              </div>
            </div>

            <div>
              <table class="table">
                <thead>
                <tr>
                  <th scope="col">N°</th>
                  <th scope="col">Cedula</th>
                  <th scope="col">Nombre</th>
                  <th scope="col">Correo</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>10654432788</td>
                  <td>Anderson Orozco</td>
                  <td>estudiante@unicesar.edu.co</td>
                </tr>
                </tbody>
              </table>
            </div>

            <div class="span12">
              <label class="form-label" >Seleccione la fecha y hora</label>
              <table class="table-condensed table-bordered table-striped">
                <thead>
                <tr>
                  <th colspan="7" >
                    <a class="btn"><i class="icon-chevron-left"></i></a>
                    <a class="btn">Septiembre 2021</a>
                    <a class="btn"><i class="icon-chevron-right"></i></a>
                  </th>
                </tr>
                <tr>
                  <th>D</th>
                  <th>L</th>
                  <th>M</th>
                  <th>X</th>
                  <th>J</th>
                  <th>V</th>
                  <th>S</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td class="muted">29</td>
                  <td class="muted">30</td>
                  <td class="muted">31</td>
                  <td>1</td>
                  <td>2</td>
                  <td>3</td>
                  <td>4</td>
                </tr>
                <tr>
                  <td>5</td>
                  <td>6</td>
                  <td>7</td>
                  <td>8</td>
                  <td>9</td>
                  <td>10</td>
                  <td>11</td>
                </tr>
                <tr>
                  <td>12</td>
                  <td>13</td>
                  <td>14</td>
                  <td>15</td>
                  <td>16</td>
                  <td>17</td>
                  <td>18</td>
                </tr>
                <tr>
                  <td>19</td>
                  <td>20</td>
                  <td>21</td>
                  <td>22</td>
                  <td>23</td>
                  <td>24</td>
                  <td>25</td>
                </tr>
                <tr>
                  <td>26</td>
                  <td>27</td>
                  <td><strong>28</strong></td>
                  <td>29</td>
                  <td class="muted">1</td>
                  <td class="muted">2</td>
                  <td class="muted">3</td>
                </tr>
                </tbody>
              </table>
            </div><br>

            <div class="btn-group">
              <button type="button" class="btn btn-default dropdown-toggle"
                      data-toggle="dropdown">
                hora <span class="caret"></span>
              </button>

              <ul class="dropdown-menu" role="menu">

              </ul>
            </div><br><br><br>

            <div>
              <table class="table">
                <thead>
                <tr>
                  <th scope="col">N°</th>
                  <th scope="col">ID</th>
                  <th scope="col">USUARIO</th>
                  <th scope="col">DOCENTE</th>
                  <th scope="col">ESTUDIANTE</th>
                  <th scope="col">FECHA</th>
                  <th scope="col">HORA</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>01</td>
                  <td>aorozcom@unicesar.edu.co</td>
                  <td>docente@unicesar.edu.co</td>
                  <td>estudiante@unicesar.edu.co</td>
                  <td>28/09/2021</td>
                  <td>12:00</td>
                </tr>
                </tbody>
              </table>
            </div><hr><br><br>

            <div class="form-group">
              <div class="col-md-12 text-center">
                <button type="submit" class="btn btn-primary btn-lg">Agregar</button>
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-12 text-center">
                <button type="submit" class="btn btn-primary btn-lg">AGENDAR</button>
              </div>
            </div>

          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>


