<h1>Consultorio Juridico Virtual UPC</h1>
<p>Bienvenido</p>


<p>La Facultad de Derecho les ofrece a las personas, que por diferentes razones no puedan ir a las instalaciones del Consultorio Jurídico, la alternativa de realizar consultas a través del Consultorio Jurídico Virtual, el cual se creó con la finalidad de contribuir a la solución de las necesidades de la comunidad, a nivel local, nacional e internacional, que requieren de los servicios sociales gratuitos de carácter jurídico atendido por los estudiantes en coordinación de los docentes de diferentes áreas del derecho, como laboral, penal, civil, familia, comercial y público.

  En cumplimiento de la misión y visión del Consultorio Jurídico, se busca que el trabajo desde el Consultorio Virtual se realice de manera ética y responsable, donde primen los valores institucionales; que haga énfasis en la proyección social, mediante un servicio de alta calidad que responda a los requerimientos de la sociedad, principalmente de aquellas comunidades de escasos recursos, no solo de Cartago, sino de las zonas alejadas, desde donde el desplazamiento a un Consultorio presencial es difícil.

  Igualmente, el Consultorio Jurídico presta el servicio gratuito de conciliación, es el único Centro de Conciliación universitario de la región certificado por el ICONTEC bajo la Norma Técnica Colombiana NTC 5906, la cual garantiza la prestación del servicio bajo condiciones de calidad y eficiencia, que le permite a los usuarios acceder a un servicio serio, eficiente, moderno y adecuado a sus necesidades.</p>
